<h1 class="my-4 text-center">Ledger for <% if @monthly_view %><%= @month_display %><% elsif @yearly_view %><%= @year_display %><% end %></h1>
<div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 col-xl-2 offset-xl-5 mb-4">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Month to View
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% @transaction_months.each do |month, transactions| %>
        <a class="dropdown-item" href="/transactions<%= month.strftime('/%Y/%m') %>"><%= month.strftime('%B %Y') %></a>
      <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <%= column_chart({"Deposits" => Transaction.where("amount > 0").where("posted_on BETWEEN ? AND ?", @first_of_month, @last_of_month).sum(:amount), "Withdrawals" => -1 * Transaction.where("amount < 0").where("posted_on BETWEEN ? AND ?", @first_of_month, @last_of_month).sum(:amount)}, prefix: "$", thousands: ",") %>
  </div>
  <div class="col-sm-6">
    <%= pie_chart Transaction.where("amount < 0").where("posted_on BETWEEN ? AND ?", @first_of_month, @last_of_month).group(:category).sum(:amount), prefix: "$", thousands: "," %>
  </div>
</div>


<h2 class="h4 pt-4">Transactions</h2>

<% if @monthly_view %>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Payee</th>
        <th>Category</th>
        <th>Amount</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= form_with(controller: :transaction, url: :create_transaction_path, local: true, html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |form| %>
        <tr class="table-dark">
          <td class="field">
            <%= form.date_field :posted_on, class: "form-control datepicker", value: Date.today %>
          </td>
          <td class="field">
            <%= form.select :payee, @payees, class: "custom-select" %>
          </td>
          <td class="field">
            <%= form.select :category, @categories, class: "custom-select" %>
          </td>
          <td class="field">
            <%= form.number_field :amount, step: 0.01, class: "form-control", placeholder: "Amount" %>
          </td>
          <td rowspan="2" class="align-middle">
            <%= form.submit "Add", class: "btn btn-primary", id: "submit" %>
          </td>
        </tr>
        <tr class="table-dark">
          <td colspan="2" class="border-top-0 pt-0 field">
            <%= form.text_field :description, class: "form-control", placeholder: "Note" %>
          </td>
          <td colspan="2" class="border-top-0 pt-0 field">
            <input type="file" id="receipt" name="receipt" class="form-control-file">
          </td>
        </tr>
      <% end %>

      <% @filtered_transactions.each do |transaction| %>
        <tr>
          <td><%= best_in_place transaction, :posted_on, :as => :date, display_with: Proc.new { |el| el.strftime("%m/%d/%Y") } %></td>
          <td><%= best_in_place transaction, :payee %></td>
          <td><%= best_in_place transaction, :category %></td>
          <td class="text-right"><%= best_in_place transaction, :amount, display_with: :number_to_currency %></td>
          <td>
          <%= link_to "Delete", transaction, method: :delete, data: { confirm: "Are you sure?" } %>
          <button class="btn btn-link p-0 mb-1 ml-2" type="button" data-toggle="collapse" data-target="#collapse<%= transaction.id %>" aria-expanded="false" aria-controls="collapse<%= transaction.id %>">Details</button>
          </td>
        </tr>
        <tr class="collapse" id="collapse<%= transaction.id %>">
          <td colspan="5">Note: <%= best_in_place transaction, :description %><br><img class="mw-100" src="<%= transaction.receipt %>"></td>
        </tr>
      <% end %>

    </tbody>
  </table>
<% end %>

<% if @yearly_view %>
  <table class="table">
    <% @categories.each do |category| %>
      <% sum = 0.00 %>
      <% @filtered_transactions.each do |transaction| %>
        <% if transaction.category == category %>
          <% sum += transaction.amount %>
        <% end %>
      <% end %>
      <% if sum > 0.00 %>
        <thead class="thead-dark">
          <tr class="small">
            <th><button class="btn btn-sm p-0 m-0 btn-link text-light" type="button" data-toggle="collapse" data-target="#<%= category.parameterize %>" aria-expanded="false" aria-controls="<%= category.parameterize %>"><%= category.upcase %></button></th>
            <th></th>
            <th></th>
            <th class="text-right">TOTAL: <%= number_to_currency(sum * -1) %></th>
            <th class="text-right"><% unless @year_display == Date.today.year %>MONTHLY AVERAGE: <%= number_to_currency((sum * -1)/12) %><% end %></th>
          </tr>
        </thead>

        <tbody class="collapse" id="<%= category.parameterize %>">
          <% @filtered_transactions.each do |transaction| %>
            <% if transaction.category == category %>
              <tr>
                <td><%= best_in_place transaction, :posted_on, :as => :date, display_with: Proc.new { |el| el.strftime("%m/%d/%Y") } %></td>
                <td><%= best_in_place transaction, :payee %></td>
                <td><%= best_in_place transaction, :category %></td>
                <td class="text-right"><%= number_to_currency(transaction.amount * -1) %></td>
                <td>
                <%= link_to "Delete", transaction, method: :delete, data: { confirm: "Are you sure?" } %>
                <button class="btn btn-link p-0 mb-1 ml-2" type="button" data-toggle="collapse" data-target="#collapse<%= transaction.id %>" aria-expanded="false" aria-controls="collapse<%= transaction.id %>">Details</button>
                </td>
              </tr>
              <tr class="collapse" id="collapse<%= transaction.id %>">
                <td colspan="5">Note: <%= best_in_place transaction, :description %><br><img class="mw-100" src="<%= transaction.receipt %>"></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      <% end %>
    <% end %>
  </table>
<% end %>

