<h1 class="my-4 text-center">Ledger <small>for <%= @month_display %></small></h1>
<div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4 col-xl-2 offset-xl-5 mb-4">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select Month
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% @transaction_months.each do |month, transactions| %>
        <a class="dropdown-item" href="<%= month.strftime('/%Y/%m') %>"><%= month.strftime('%B %Y') %></a>
      <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <%= column_chart({"Deposits" => Transaction.where("amount > 0").sum(:amount), "Withdrawals" => -1 * Transaction.where("amount < 0").sum(:amount)}, prefix: "$", thousands: ",") %>
  </div>
  <div class="col-sm-6">
    <%= pie_chart Transaction.where("amount < 0").group(:category).sum(:amount), prefix: "$", thousands: "," %>
  </div>
</div>


<h2 class="h4 pt-4">Transactions</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Date</th>
      <th>Payee</th>
      <th>Category</th>
      <th>Amount</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>

    <%= form_with(controller: :transaction, url: :create_transaction_path, local: true) do |form| %>
      <tr class="table-dark">
        <td>
          <%= form.date_field :posted_on, class: "form-control", value: Date.today %>
        </td>
        <td>
          <%= form.select :payee, @payees, class: "custom-select" %>
        </td>
        <td>
          <%= form.select :category, @categories, class: "custom-select" %>
        </td>
        <td>
          <%= form.text_field :amount, class: "form-control", placeholder: "Amount" %>
        </td>
        <td rowspan="2" class="align-middle">
          <%= form.submit "Add", class: "btn btn-primary" %>
        </td>
      </tr>
      <tr class="table-dark">
        <td colspan="4" class="border-top-0 pt-0">
          <%= form.text_field :description, class: "form-control", placeholder: "Notes" %>
        </td>
      </tr>
    <% end %>

    <% @filtered_transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.posted_on.strftime("%m/%d/%Y") %></td>
        <td><%= transaction.payee %></td>
        <td><%= transaction.category %></td>
        <td class="text-right"><%= number_to_currency(transaction.amount) %></td>
        <td>
        <%= link_to "Delete", transaction, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>