<h1 class="my-4 text-center">My Ledger</h1>

<h2 class="h4 pt-4">Transactions</h2>


<%= bar_chart Transaction.where("category != 'salary'").group(:category).sum(:amount), colors: ["#c6c8ca"], prefix: "$" %>

<table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th>Date</th>
      <th>Payee</th>
      <th>Category</th>
      <th>Amount</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>

    <%= form_with(controller: :transaction, url: :create_transaction_path, local: true) do |form| %>
      <tr class="table-dark">
        <td>
          <%= form.date_field :posted_on, class: "form-control", value: Date.today %>
        </td>
        <td>
          <%= form.select :payee, @payees, class: "custom-select" %>
        </td>
        <td>
          <%= form.select :category, @categories, class: "custom-select" %>
        </td>
        <td>
          <%= form.text_field :amount, class: "form-control", placeholder: "Amount" %>
        </td>
        <td rowspan="2" class="align-middle">
          <%= form.submit "Add", class: "btn btn-primary" %>
        </td>
      </tr>
      <tr class="table-dark">
        <td colspan="4" class="border-top-0 pt-0">
          <%= form.text_field :description, class: "form-control", placeholder: "Notes" %>
        </td>
      </tr>
    <% end %>

    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.posted_on.strftime("%m/%d/%Y") %></td>
        <td><%= transaction.payee %></td>
        <td><%= transaction.category %></td>
        <td class="text-right"><%= number_to_currency(transaction.amount) %></td>
        <td>
        <%= link_to "Delete", transaction, method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>